.searchBarAlt {
    position: relative;
    padding-bottom: 20px;
    margin: auto;

    .searchText {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #333333;
        font-size: 1rem;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 80px;
        transition: 100ms;
    }

    .searchText:focus {
        outline: 0;
        transition: 100ms;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    }

    .icon {
        border: none;
        background: none;
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        height: 2rem;
        width: 2.6rem;
        transition: 150ms;
        // padding: 2px 0;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .icon:focus {
        outline: 0;
    }

    // .icon:active {
    //     background: rgba(0,0,0,0.5);
    //     box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    //     transition: 150ms;
    // }
}
