@import "./colors.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60vw;
    height: 90%;
    margin: 0 auto;
}

.status {
    margin-top: 0;
    color: #636D73;
}

.windowContainer {
    width: 100%;
    flex-grow: 1;
    position: relative;

    .messageWindow {
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;
        font-size: 1.25rem;

        .highlighted {
            background-color: $color5;
        }

        .message {
            &:not(:first-child) {
                .username {
                    margin-top: 20px;
                }
            }

            .username {
                font-size: 1.1em;
                font-weight: bold;
                margin: auto;
                margin-bottom: 10px;
            }

            .content {
                margin: auto;
            }
        }
    }
    .buttonBox {
        position: absolute;
        top: 50%;
        right: -25px;

        transform: translate(100%, -50%);

        button:not(:last-child) {
            margin-bottom: 10vh;
        }
    }
    .back {
        position: absolute;
        top: 20px;
        left: -25px;
        transform: translate(-100%, 0);

    }
}

.chatBox {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    input[type="text"] {
        flex-grow: 1;
        font-size: 1em;
        margin: 20px auto;
        width: auto;
        padding: 10px 10px;
    }

    button {
        margin-left: 20px;
        font-size: 1em;
    }
}
