.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    > * {
        margin: 0 3vw;
    }
}

.leftHalf {
    width: 400px;
}

textarea {
    width: 90%;
    height: auto;
    border-radius: 15px;
    border: thin solid rgba(0,0,0,0.25);
    padding: 10px 15px;
    font-size: 15px;
    transition: 300ms;
}

textarea:focus {
    transition: 300ms;
    outline: 0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.rightHalf {
    width: 400px;
    > * {
        margin: 30px 0;
    }
}

.logoContainer {
    padding-bottom: 20px;

    a {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
}