@import "./colors.scss";
@import "./main.scss";

.container {
  position: relative;
  background-color: #fafafa;
}

.bar {
  width: 100%;
  background-color: grey;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  .signUp {
    background-color: lightgreen;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    text-align: center;

    font-size: 1.5rem;
    font-weight: normal;
  }

  .navBar {
    background-color: white;
    border-radius: 8px;

    font-size: 1.5rem;
    padding: 5px 10px;

    margin-right: 10px;

    position: relative;
    .hamburger {
      gap: 0.5rem;
      div {
        width: 60%;
        height: 2px;
        background-color: black;
        margin: auto;
      }
    }
  }
}

.square {
  position: absolute;
  top: 30px;
  left: 30px;

  background-color: red;
  height: 120px;
  width: 120px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 3vw;
  text-align: center;
}

.user {
  h1 {
    font-size: 3rem;
  }
  height: 8vw;
}

.caption {
  h1 {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

.searchBar {
  width: 40vw;
  height: 4vw;
  position: relative;
  margin: auto;  

  input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #555555;
    font-size: 1.50rem;
    padding: 10px 20px;
    padding-right: 80px;
  }

  .icon {
    position: absolute;
    top: 0.5vw;
    right: 1vw;
    height: 3vw;
    width: 3vw;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.learningContainer {
  display: flex;
  
  gap: 5vw;

  .living {
    width: 50%;
    margin-top: 5vw;
    margin-left: 5vw;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .livingContent {
    width: 50%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .livingText {      
      text-align: center;      
      font-size: 2rem;      
      line-height: 4rem;
      width: 70%;
      margin: 0 auto;

      p {
        font-weight: 10;
        width: 100%;
      }
    }    

    .livingButton {
      height: 10%;
      width: 40%; 
      margin: 0 auto;                

      button {        
        background-color: #5CC8A1;
        border-radius: 15px;
        border: none;        
        height: 100%;
        width: 100%;
        font-size: 1.75rem;
      }
    }
  }
}

.expandContainer {
  display: flex;

  .living {
    width: 80%;
    margin-top: 5vw;
    margin-left: 5vw;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .livingContent {
    width: 50%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .livingText {      
      text-align: center;      
      font-size: 2rem;      
      line-height: 4rem;
      width: 80%;
      margin: 0 auto;

      p {
        font-weight: 10;
        width: 100%;
      }
    }    

    .livingButton {
      height: 10%;
      width: 60%; 
      margin: 0 auto;                

      button {        
        background-color: #5CC8A1;
        border-radius: 15px;
        border: none;        
        height: 100%;
        width: 100%;
        font-size: 1.75rem;
      }
    }
  }  
}

.limitContainer {
  background-image: url("../assets/sky.svg");
  display: flex;
  flex-direction: column;

  
  .content {    
    font-size: 3rem;
    margin: 4vw auto 1vw;
    height: 50%;
    width: 60%;
    text-align: center;
    
    p {
      line-height: 5rem;
      font-weight: 400;
    }
  }

  .button {     
    width: 20%;
    margin: 0 auto 5vw;

    button {
      border-radius: 15px;
      padding: 15px;
      border: none;
      background-color: #5CC8A1;
      font-size: 2rem;
      height: 100%;
      width: 100%;
    }
  }
}