.navBar {
    background-color: #636D73;
    overflow: hidden;
    z-index: 5000000;
     
    a {
        float: right;
        display: block;
        background-color: #636D73;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 23px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a.active {
        background-color: #4CAF50;
        color: white;
    }

    .icon {
        display: none;
    }
    
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    // float: left;
    // margin-left: 0;
    // margin-top: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 800px) {
    .logo {
        float: left;
        margin-left: 0;
        margin-top: 0;
        left: 3vw;
        top: 3vw;
        width: 10vw;
        height: 10vw;
    }
  }

/* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navBar a:not(:last-child) {display: none;}
    .navBar .icon {
    //   margin-right: 1vh;
    //   margin-top: 1vh;
      margin: 1vh;
      float: right;
      display: block;
      border: none;
      font-size: 25px;
      border-radius: 4px;
    }

    .navBar .logo {
        position: relative;
        float: left;
        left: 0;
        top: 0;
    }
  }
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
// @media screen and (max-width: 600px) {
  .navBarResponsive {
    background-color: #636D73;
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 100;
    
    .logo {
        display: none;
    }

    .icon {
        position: absolute;
        margin: 1vh;
        float: right;
        display: block;
        border: none;
        font-size: 25px;
        right: 0;
        top: 0;
        border-radius: 4px;
    }

    a {
        float: none;
        display: block;
        background-color: #636D73;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a.active {
        background-color: #4CAF50;
        color: white;
    }
  }
// }