$primaryColor1: #F2541B;
$primaryColor2: #F2B84B;
$primaryColor3: #27B68B;
$mutedColor1: #EE774D;
$mutedColor2: #EEC271;
$mutedColor3: #5CC8A1;
$mutedColor4: #89C5CC;
$basegrey: #636D73;
$warningColor: #F25749;

:export {
    primaryColor1: $primaryColor1;
    primaryColor2: $primaryColor2;
    primaryColor3: $primaryColor3;
    mutedColor1: $mutedColor1;
    mutedColor2: $mutedColor2;
    mutedColor3: $mutedColor3;
    mutedColor4: $mutedColor4;
    basegrey: $basegrey;
    warningColor: $warningColor;
}
