@import "../../styles/colors.scss";

.topicSelectorContainer {
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.searchBar {
    width: 100%;
    font-size: 1.25rem;
    padding: 10px;
    transition: 400ms;
    border: 0.75px solid black;
    border-radius: 10px;
}

.searchBar:focus {
    transition: 400ms;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    outline: 0;
}

.resultContainer {
    border-radius: 10px;
    margin: 20px auto;
    background-color: #fafafa;
    width: 100%;
    height: 80%;
    overflow-y: scroll;

    flex-grow: 1;
}

.results {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    div {
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        transition: 0.2s;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);

        &:hover {
            transform: translate(-2px, 2px);
            box-shadow: none;
            cursor: pointer;
        }

        &:active {
            box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        &.selected {
            background-color: black;
            color: #fafafa;
        }

        &.unavailable {
            opacity: 0.5;
            cursor: default;
        }
    }
}
