@import "../../styles/colors.scss";

.searchBar {
    width: 100%;
    font-size: 1.25rem;
    padding: 10px;
}

.resultContainer {
    margin: 20px auto;
    background-color: white;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.results {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    div {
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        transition: 0.2s;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);

        &:hover {
            transform: translate(-2px, 2px);
            box-shadow: none;
            cursor: pointer;
        }

        &:active {
            box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        &.selected {
            background-color: $color0;
            color: $color1;
        }

        &.unavailable {
            opacity: 0.5;
            cursor: default;
        }
    }
}
