<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Email</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick+Hand">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="border-width: 100px;border-color: #17191b;background-color: #636d73;">
    <h3 class="text-center" style="margin: 2.5%;font-size: 25px;letter-spacing: 5px;font-family: Bungee, cursive;text-align:center;">NOW FOR THE MOST IMPORTANT PART...</h3>
    <h1 style="margin: 2.5%;text-align: center;font-size: 30px;font-weight: bold;font-family: Bungee, cursive;">USE YOUR NOTES TO FILL THE GAPS IN YOUR KNOWLEDGE</h1>
    <div class="text-left text-primary d-xl-flex justify-content-xl-center" style="height: 500px;width: 90%;background-color: #30bf8b;border-radius: 15px;border: 10px solid #295c4a;margin: 5%;">
      <p style="color: rgb(255,255,255);font-size: 15px;width: 95%;margin: 2.5%;font-style: normal;font-family: 'Patrick Hand', cursive;width: 95%;">{{content}}</p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
