<!DOCTYPE html>
<html>
<body>
    <div id = "main">
        <!--Message Area-->
        <h>Let's Pretend You Chose a Topic</h>
        <div id = "message_box"></div>
        <!--Input Message-->
        <div id = "input_area">
            <input type = "text" id = "input_message" placeholder = "Type Here" autocomplete = "off">
            <button type = "button" id = "send_button">SEND MESSAGE</button>
        </div>
        <!--Buttons-->
        <button type = "button" id = "highlight_button">HIGHLIGHT</button>
        <button type = "button" id = "finished_button">I'M FINISHED</button>
    </div>
</body>
</html>